* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    
}
.banner video{
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}
.menu{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position:absolute;
    justify-content: center;
    align-items: center;   
}
.borda-gradiente img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    
    
}
.borda-gradiente{
    width: 215px;
    height: 215px;
    background: linear-gradient(90deg, #ffdf00, #009c3b);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
   
}
.links-unit{
    width: 768px;
    background-color: #0200006e;
    border-radius: 15px;
    margin: 20px 0;   
}  
.links-unit a{
    text-decoration: none;
    font-size: 30px;
    color: #ffffffad ;
    font-weight: bold;
}
.links-unit:hover{
    background-color: #ffffff94;
    border-radius: 15px;
}
.links-unit a:hover{
    color: #000000;
}

.estatisticas{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/imagem-de-fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}
.titulo, .menu h1{
    color: #fff;
    padding:10px 0 40px 0;
    text-shadow: 3px 6px 1px #000000;
    font-size: 74px;
}
.menu h1::before{
    content: "";
    position: absolute;
    width: 55px;
    height: 5px;
    background: linear-gradient(90deg, #ffdf00, #009c3b);
}

.tab-cab td{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}
.bra, .san, .bar, .psg, .hil, td{
    text-align: center;
    font-size: 28px;
    padding: 20px 50px;
    
}
.tabela tr:nth-of-type(odd){
    background: #00000079;
}
.tabela tr:nth-of-type(even){
    background: #ffffff94;
}
.youtube a::before{
    content: "Me siga no YouTube";
    display: inline;
    background-image: url(../assets/youtube.png);
    width: 50px;
    height: 50px;
    background-size:contain;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 250px;
    align-items: center;   
}
.instagram a::before{
    content: "Me siga no Instagram";
    display: inline;
    background-image: url(../assets/instagram.png);
    width: 40px;
    height: 40px;
    background-size:contain;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 240px;
    align-items: center;   
}
.twitter a::before{
    content: "Me siga no Twitter";
    display: inline;
    background-image: url(../assets/twitter.png);
    width: 35px;
    height: 35px;
    background-size:contain;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 250px;
    align-items: center;   
}
.facebook a::before{
    content: "Me siga no Facebook";
    display: inline;
    background-image: url(../assets/facebook.png);
    width: 40px;
    height: 40px;
    background-size:contain;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 240px;
    align-items: center;   
}
.twitch a::before{
    content: "Me siga no Twitch";
    display: inline;
    background-image: url(../assets/twitch.png);
    width: 40px;
    height: 40px;
    background-size:contain;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 240px;
    align-items: center;   
}
.bra .bra-1::before{
   content: "Brasil";
   display: flex;
   background-image: url(../assets/cbf.png);
   width: 35px;
   height: 35px;
   background-size:contain;
   background-repeat: no-repeat;
   position: relative;
   padding: 0 50px;      
}
.san .san-1::before{
    content: "Santos";
    display: flex;
    background-image: url(../assets/santos.png);
    width: 35px;
    height: 35px;
    background-size:contain;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 50px;         
}
.bar .bar-1::before{
    content: "Barcelona";
    display: flex;
    background-image: url(../assets/barcelona.png);
    width: 35px;
    height: 35px;
    background-size:contain;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 50px;      
}
.psg .psg-1::before{
    content: "PSG";
    display: flex;
    background-image: url(../assets/psg.png);
    width: 35px;
    height: 35px;
    background-size:contain;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 50px;        
}
.hil .hil-1::before{
    content: "Alhilal";
    display: flex;
    background-image: url(../assets/alhilal.png);
    width: 35px;
    height: 35px;
    background-size:contain;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 50px;        
}







